<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
  <title>龙之怒吼官网</title>
  <link rel="stylesheet" href="/style/2018/lianyun/lznh/m_resetCss.css">
  <link rel="stylesheet" href="/style/2018/lianyun/lznh/m_common.css">
  <link rel="stylesheet" href="/style/2018/lianyun/lznh/m_list.css">
  <link rel="stylesheet" href="/style/2018/lianyun/lznh/m_share.css">

</head>

<body>
  <div class="container">
    {{include file="lznh/common/m_header.html"}}
    <div class="nav">
      <p class="sub">公告中心</p>
      <a href="javascript:history.back(-1);" class="back"></a>
    </div>
    <div class="details">
      <div class="title">
        <h3>{{$data.title}}</h3>
        <div class="sub">
          <p><span class="resource">来源：{{$data.source}} </span>
            <span class="times">时长：{{$data.pubdate}}</span>
          </p>
        </div>
      </div>
      <div class="text_wrap">
        {{$data.content}}
      </div>
    </div>
    <div class="article">
      {{foreach from=$recommend key=k item=item}}
      <a href="/lznh/detail/?id={{$item.id}}" {{if $k==0}}class="prev" {{else}}class="next"
        {{/if}}>{{if $k==0}}上{{else}}下{{/if}}一篇：{{$item.title}}</a>
      {{/foreach}}
    </div>
    {{include file="lznh/common/m_footer.html"}}
  </div>
</body>
<script src="/js/jquery.js"></script>
<script src="/js/2018/lianyun/lznh/jquery.qrcode.min.js"></script>
<script src="/js/2018/lianyun/lznh/m_common.js"></script>
<script>
$('#code').qrcode(link);
</script>
</html>