<div class="footer" id="footer">
		<div class="footer_wrap">
		{{data name="专题官网底部二维码显示"}}

		{{foreach from=$DATA["专题官网底部二维码显示"].list  item="item"}}
				<div class="left">
					<div class="img">
							<img src="{{$item['thumb']}}">
					</div>
					<div class="text">
						<p class="title">龙皇传说<span class="sub"></span></p>
						<p class="scan_code">扫描二维码立即关注</p>
					</div>
				</div>
			{{/foreach}}
				<div class="right">
					<p class="title">客服联系方式：</p>
					<p><span>客服 QQ : 800848219 </span><a href="http://q.url.cn/CDK30l?_type=wpa&qidian=true" class="call">立即咨询</a></p>
					<p><span>客服热线 : 020-37260535</span><i> 服务时间：09：00 - 21：00</i></p>
				</div>
		</div>
		<div class="gy-footer">
			<style type="text/css">
			.gy-main { width: 1000px; margin: 0 auto; position: relative;}
			.gy-flinks { width: 100%; height: 84px; line-height: 80px; margin-top: 45px; overflow: hidden; position: relative; background: #fff url(/images/2016/bg-flinks.jpg?201609021421) top center no-repeat;}
			.gy-flinks .links { padding-left: 220px;}
			.gy-flinks .links a { font-size: 14px; color: #8c8b8b; margin: 0 5px;}
			.gy-flinks .links a:hover { color: #03b4f5;}
			.gy-footer { text-align: center; line-height: 30px; color: #999898; padding: 30px 0 20px 0;border-top: 1px solid #2e2e2e;}
			.gy-footer a { color: #999898;}
			.gy-footer a:hover { color: #03b4f5;}
			.legal-1, .legal-2, .legal-3, .legal-4, .legal-5, .legal-6 { display: inline-block; width: 50px; height: 50px; background: url(/images/2016/footer-ico.png?201609021421) no-repeat;}
			.legal-2 { background-position: 0 -50px;}
			.legal-3 { background-position: 0 -100px;}
			.legal-4 { background-position: -50px 0;}
			.legal-5 { background-position: -50px -50px;}
			.legal-6 { background-position: -50px -100px;}
			</style>
			<div class="gy-main">
					<p>	上海赤月信息技术有限公司 版权所有 &nbsp;&nbsp;&nbsp; 公司地址：上海市嘉定区真南路4268号2栋J417号</p>
					<p>健康游戏忠告：抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>
		<p>
			〔2017〕Ｗ-RPG 0083 号　增值电信业务许可证编号：沪B2-20160121　 网络出版号：ISBN 978-7-7979-8815-5
    
		</p>
		<p>
				<a href="http://sq.ccm.gov.cn/ccnt/sczr/service/business/emark/gameNetTag/4028c08c5ea40064015ea79dd20a0e7d"><img src="/images/2018/lianyun/lhcs/yxba_icon.png" style="width: 25px;position: relative;padding:0 8px;"></a>
				文网游备字：〔2017〕Ｗ-RPG 0083 号|新广出审[2017]5353号|软著登记号：2017SR032839
			</p>
		<p>
			纠纷处理方式：联系客服或依《<a href="/yhxy.html" target="_blank">用户协议</a>》约定方式处理 &nbsp;<a href="#" target="_blank">产品信息公示</a></p>
		<p>
			文化部网络游戏举报和联系电子邮箱：wlwh@vip.sina.com</p>
				<p style="color:red">本公司产品适合18岁以上成年人使用</p>
				<p>
					<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011402005220" target="_blank" rel="nofollow" class="legal-1"></a>
					<a href="http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&serial=9031000020181120144950000003397821-SAIC_SHOW_310000-20160920143306186337&signData=MEUCIC8AoASuJgek5FWaL19qZw9HvsjojNS1EDmwBHUbmI8rAiEA16fPD8PPLb8EzXwKL6lTvnVT2A9unCPO1e7MGiakVvI=" target="_blank" rel="nofollow" class="legal-2"></a>
					<a href="http://sq.ccm.gov.cn:80/ccnt/sczr/service/business/emark/toDetail/35EE6340B9F17151E0530140A8C0E25A" target="_blank" rel="nofollow" class="legal-5"></a>
				</p>
			
			</div>
		</div>
	</div>